.navigation-panel {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: #47047c;
}

.navigation-panel ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7a5cc9;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.logout-button {
    margin-top: 100px;
}

.button.button.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.button.button.logout:hover {
    background-color: #330202;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.main-div {
    margin-left: 300px;
    margin-top: 40px;
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
    max-width: 1200px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.form label {
    font-weight: bold;
    margin-top: 10px;
}

.form input,
.form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.alert-warning {
    color: red;
    font-size: 14px;
}

.profile-actions-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile-actions-button:hover {
    background-color: #7a5cc9;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navigation-panel {
        width: 200px;
    }

    .main-div {
        margin-left: 220px;
    }
}

@media (max-width: 480px) {
    .navigation-panel {
        width: 100px;
    }

    .main-div {
        margin-left: 120px;
        padding: 10px;
    }

    .form {
        width: 90%;
    }
}

body {
    font-family: Arial, sans-serif;
}