body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navigation-panel {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: #47047c;
}

.navigation-panel ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7a5cc9;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.logout-button {
    margin-top: 100px;
}

.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.logout:hover {
    background-color: #330202;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.pocket-info {
    margin-left: 300px;
    width: calc(100% - 300px);
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.pocket-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.form-control {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    width: 100%;
}

select.form-control {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

button.button {
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

button.button:hover {
    background-color: #7a5cc9;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.error p {
    color: red;
    font-size: 14px;
}