
.header {
    border-image: fill;
    background-color: #07abde;
    padding: 10px 0;
    width: 100%;
}

.header-inner {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.nav {
    display: flex;
    gap: 15px;
}

.button {
    text-overflow: fade;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    transition: margin-right 2s ease-in-out .5s;
}

.button.login {
    background-color: #9559c7;
}

.button.login:hover {
    background-color: #9559c7;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.button.register {
    background-color: #9559c7;
    transition: margin-right 2s ease-in-out .5s;
}

.button.register:hover {
    background-color: #9559c7;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
