* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f9;
    color: #333;
}

.navigation-panel {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #b9a2d7, #9f73c0, #c9b1c3);
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navigation-panel ul {
    list-style: none;
    flex-grow: 1;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    display: block;
    padding: 12px;
    border-radius: 6px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.logout {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #7a5cc9, #9559c7);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.create-wallet-button {
    margin-top: 10px;
    display: block;
    padding: 12px;
    border-radius: 6px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 270px;
}

.button:hover , .create-wallet-button:hover {
    background: linear-gradient(135deg, #9559c7, #7a5cc9);
    opacity: 0.8;
}

.button.logout {
    margin-top: 130%;
    background-color: rgba(56, 36, 133, 0.6);
}

.button.logout:hover {
    background: linear-gradient(135deg, #9559c7, #7a5cc9);
    opacity: 0.8;
}

.user-info {
    margin-left: 320px;
    width: calc(100% - 320px);
    padding: 20px;
    box-sizing: border-box;
    display: block;
    height: auto;
    max-width: 1200px;
    margin-top: 30px;
}

.user-details {
    background: linear-gradient(135deg, #f8f8f8, #e7daf8, #f8f8f8);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 10%;
}

.user-details {
    display: flex;
    background: linear-gradient(135deg, #f8f8f8, #e7daf8, #f8f8f8);
    align-items: center;

}

.user-assets {

}

.available-wallets, .available-pockets{
    text-align: left;
}

.available-wallets {
    margin-top: -40px;
}

.available-pockets {
    margin-top: 90px;
}

.user-main-info {
    margin-right: 300px;
    margin-left: 20px;

    padding-left: -20px;
}

.user-main-info p {
    width: 250px;
    text-align: center;
}

.avatar-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-details p {
    font-size: 16px;
    margin: 5px 0;
}

.transactions {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #f8f8f8, #e7daf8, #f8f8f8);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.audit-log-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.audit-log-table th, .audit-log-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.audit-log-table th {
    background-color: #e0c5e2;
    font-weight: bold;
}

.audit-log-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.audit-log-table tr:hover {
    background-color: #f1f1f1;
}

.audit-log-table td {
    font-size: 14px;
}

.audit-log-table .message {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.create-wallet-content {
    background: linear-gradient(135deg, #f8f8f8, #e0cafc, #f8f8f8);
    margin-left: 320px;
    width: calc(100% - 320px);
    padding: 40px;
    box-sizing: border-box;
    max-width: 1200px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    height: auto;
}

.wallet-form {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f8f8f8, #e0cafc, #f8f8f8);
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.form-control {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 2px solid #ddd;
    margin-bottom: 5px;
    width: 98%;
}

select.form-control {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 2px solid #ddd;
    width: 100%;
}

.last-activities {
    text-align: center;
}

button.button {
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

button.button:hover {
    background: linear-gradient(135deg, #9559c7, #7a5cc9);
    opacity: 0.8;
}

.error p {
    color: red;
    font-size: 14px;
}

.error {
    margin-top: 20px;
}