body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #f8f8f8, #e7daf8, #f8f8f8);
    color: white;
    font-family: Arial, sans-serif;
}

h2 {
    color: white;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #d0c0f8, #9559c7);
    border: 1px solid #9559c7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container label {
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
    width: 100%;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #9559c7;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container input:hover {
    border-color: #7a5cc9;
    outline: none;
}

.login-container button {
    background: linear-gradient(135deg, #f8f8f8, #e7daf8, #f8f8f8);
    color: #5d08a2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login-container button:hover {
    background: linear-gradient(135deg, #f5eded, #e0d3fc, #f8e5e5);
    opacity: 0.8;
}

.login-container p {
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
}

input:focus, button:focus {
    outline: none;
    border: 2px solid #7a5cc9;
}

.login-container h2 {
    margin-bottom: 20px;
}
