/* Ensure the background image is set just like on the index page */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/static/images/index.jpeg'); /* Same background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Ensure the text color is white */
}

/* Styling for the login container (the form box) */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #07abde; /* Border color */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(7, 171, 222, 0.7); /* Transparent background */
}

/* Input fields styling */
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #07abde; /* Border color */
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container input:focus {
    border-color: #9559c7;
    outline: none;
}

/* Login button styling */
.login-container button {
    background-color: #9559c7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #9559c7;
    transform: scale(1.1); /* Zoom-out effect, reduce zooming */
    transition: transform 0.3s ease; /* Smooth transition */
}
