.navigation-panel {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: #47047c;
}

.navigation-panel ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7a5cc9;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Logout Button */
.logout-button {
    margin-top: 100px;
}

.button.button.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.button.button.logout:hover {
    background-color: #330202;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Main Content Styling */
.pockets-info {
    margin-left: 300px; /* Aligning with the navigation panel */
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #9559c7; /* Title color */
}

body {
    font-family: Arial, sans-serif;
}

/* Pockets Table Styling */
.pockets-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.pockets-table th, .pockets-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.pockets-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.pockets-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pockets-table tr:hover {
    background-color: #f1f1f1;
}

.pockets-table td {
    font-size: 14px;
}

.pockets-table .message {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* Responsive Design */
@media (max-width: 768px) {
    .navigation-panel {
        width: 200px;
    }

    .pockets-info {
        margin-left: 220px;
    }
}

@media (max-width: 480px) {
    .navigation-panel {
        width: 100px;
    }

    .pockets-info {
        margin-left: 120px;
        padding: 10px;
    }

    .pockets-table {
        font-size: 14px;
    }
}