.navigation-panel {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: #47047c;
}

.navigation-panel ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #7a5cc9;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Logout Button */
.logout-button {
    margin-top: 100px;
}

.button.button.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.logout {
    background-color: rgba(231, 8, 8, 0.6);
    color: white;
}

.button.button.logout:hover {
    background-color: #330202;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
}

.transactions-content {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    margin-left: 315px;
    margin-right: auto;
    background: linear-gradient(135deg, #f8f8f8, #e0c5e2, #d1e5f0, #f8f8f8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.transactions-table th, .transactions-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.transactions-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.transactions-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactions-table tr:hover {
    background-color: #f1f1f1;
}

.transactions-table td {
    font-size: 14px;
}

.transactions-table .message {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}