* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f9;
    color: #333;
}

.navigation-panel {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #431c66, #702963);
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navigation-panel ul {
    list-style: none;
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background: linear-gradient(135deg, #9559c7, #7a5cc9);
    opacity: 0.8;
}

.logout {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #7a5cc9, #9559c7);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button.logout {
    margin-top: 130%;
    background-color: rgba(56, 36, 133, 0.6);
}

.button.logout:hover {
    background-color: rgba(130, 111, 203, 0.6);
}

.transactions-content {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    margin-left: 320px;
    background: linear-gradient(135deg, #f8f8f8, #e7daf8, #f8f8f8);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.transactions-table th, .transactions-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.transactions-table th {
    background-color: #e0c5e2;
    font-weight: bold;
}

.transactions-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactions-table tr:hover {
    background-color: #f1f1f1;
}

.transactions-table td {
    font-size: 14px;
}

.transactions-table .message {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}