* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f4f9;
    color: #333;
}

.navigation-panel {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 270px;
    height: calc(100vh - 40px);
    background: linear-gradient(135deg, #431c66, #702963);
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navigation-panel ul {
    list-style: none;
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navigation-panel li {
    margin-bottom: 15px;
}

.button {
    display: block;
    padding: 12px;
    border-radius: 6px;
    background-color: #9559c7;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: #7a5cc9;
    opacity: 0.8;
}

.button.logout {
    margin-top: 130%;
    background-color: rgba(56, 36, 133, 0.6);
}

.button.logout:hover {
    background-color: rgba(130, 111, 203, 0.6);
}

.users-content {
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    margin-left: 320px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.users-table th, .users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.users-table th {
    background-color: #e0c5e2;
    font-weight: bold;
}

.users-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tr:hover {
    background-color: #f1f1f1;
}

.users-table td {
    font-size: 14px;
}

.users-table .message {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .navigation-panel {
        width: 100%;
    }

    .pockets-info {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .navigation-panel {
        width: 100%;
    }

    .pockets-info {
        margin-left: 0;
        padding: 10px;
    }

    .pockets-table {
        font-size: 14px;
    }
}