<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Logs</title>
    <link rel="stylesheet" href="/css/account-settings.css">
</head>
<body>

<aside class="navigation-panel">
    <ul>
        <li><a th:href="@{/home}" class="button" style="text-decoration: none !important;">Dashboard</a></li>
        <li><a th:href="@{/wallets}" class="button" style="text-decoration: none !important;">Wallets</a></li>
        <li><a th:href="@{/pockets}" class="button" style="text-decoration: none !important;">Pockets</a></li>
        <li><a th:href="@{/wallets/transfer}" class="button" style="text-decoration: none !important;">Transfer</a></li>
        <li><a th:href="@{/transactions}" class="button" style="text-decoration: none !important;">Transactions</a></li>
        <li><a th:href="@{/audit-logs}" class="button" style="text-decoration: none !important;">Audit Logs</a></li>
        <li><a th:href="@{/users/account-settings}" class="button" style="text-decoration: none !important;">Account Settings</a></li>

        <li th:if="${user.role == T(com.scrooge.model.enums.Role).ADMINISTRATOR}">
            <a th:href="@{/users}" class="button" style="text-decoration: none !important;">All Users</a>
        </li>

        <li class="logout-button">
            <form id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline;">
                <button type="submit" class="button logout">Logout</button>
            </form>
        </li>
    </ul>
</aside>

<div class="main-div">
    <form class="form" th:action="@{'/users/' + ${user.id} + '/account-settings'}" th:method="PUT"
          th:object="${userUpdateRequest}">

        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}">
        <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}">
        <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}">
        <p class="alert-warning" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>

        <label for="country">Country</label>
        <select id="country" th:field="*{country}">
            <option value="" disabled selected>Select your country</option>
            <option value="BULGARIA" th:selected="${userUpdateRequest.country == 'BULGARIA'}">Bulgaria</option>
            <option value="FRANCE" th:selected="${userUpdateRequest.country == 'FRANCE'}">France</option>
            <option value="GERMANY" th:selected="${userUpdateRequest.country == 'GERMANY'}">Germany</option>
            <option value="GREECE" th:selected="${userUpdateRequest.country == 'GREECE'}">Greece</option>
            <option value="UNITED_KINGDOM" th:selected="${userUpdateRequest.country == 'UNITED_KINGDOM'}">United
                Kingdom
            </option>
            <option value="UNITED_STATES" th:selected="${userUpdateRequest.country == 'UNITED_STATES'}">United States
            </option>
        </select>
        <p class="alert-warning" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>

        <button class="save-button"><p>Save</p></button>

    </form>
</div>

<div class="notification-div">

    <div class="notification-preference-button">

        <p th:text="${notificationPreference.enableNotification == true ? 'You are currently subscribed to notifications. If you would like to unsubscribe, click the button below.' : 'To start receiving notifications, please click the button below to enable them.'}"></p>
        <form th:action="@{'/users/' + ${user.id} + '/account-settings/preference'}" th:method="put">
            <button type="submit" class="notification-button">Switch</button>
        </form>

    </div>


</div>

</body>
</html>
