<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Logs</title>
    <link rel="stylesheet" href="/css/audit-logs.css">
</head>
<body>


<aside class="navigation-panel">
    <ul>
        <li><a th:href="@{/home}" class="button">Dashboard</a></li>
        <li><a th:href="@{/wallets}" class="button">Wallets</a></li>
        <li><a th:href="@{/pockets}" class="button">Pockets</a></li>
        <li><a th:href="@{/wallets/transfer}" class="button">Transfer</a></li>
        <li><a th:href="@{/transactions}" class="button">Transactions</a></li>
        <li><a th:href="@{/audit-logs}" class="button">Audit Logs</a></li>
        <li><a th:href="@{/users/account-settings}" class="button">Account Settings</a></li>

        <li sec:authorize="hasRole('ADMINISTRATOR')">
            <a th:href="@{/users}" class="button">All Users</a>
        </li>

        <li class="logout-button">
            <form id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline;">
                <button type="submit" class="button logout">Logout</button>
            </form>
        </li>

    </ul>
</aside>

<main id="audit-logs-content" class="user-info">
    <h2>Your Audit Logs</h2>

    <div class="audit-logs">
        <table class="audit-log-table">
            <thead>
            <tr>
                <th>Message</th>
                <th>Action</th>
                <th>User</th>
                <th>Created On</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${user.auditLog}">
                <td th:text="${log.message}"></td>
                <td th:text="${log.action}"></td>
                <td th:text="${log.user.firstName} + ' ' + ${log.user.getLastName()} + ' ' + ${log.user.getEmail()}"></td>
                <td th:text="${#temporals.format(log.createdOn, 'yyyy-MMM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>