<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pockets</title>
    <link rel="stylesheet" href="/css/pockets.css">
</head>
<body>

<aside class="navigation-panel">
    <ul>
        <li><a th:href="@{/home}" class="button" style="text-decoration: none !important;">Dashboard</a></li>
        <li><a th:href="@{/wallets}" class="button" style="text-decoration: none !important;">Wallets</a></li>
        <li><a th:href="@{/pockets}" class="button" style="text-decoration: none !important;">Pockets</a></li>
        <li><a th:href="@{/wallets/transfer}" class="button" style="text-decoration: none !important;">Transfer</a></li>
        <li><a th:href="@{/transactions}" class="button" style="text-decoration: none !important;">Transactions</a></li>
        <li><a th:href="@{/audit-logs}" class="button" style="text-decoration: none !important;">Audit Logs</a></li>
        <li><a th:href="@{/users/account-settings}" class="button" style="text-decoration: none !important;">Account Settings</a></li>
        <li><a th:href="@{/support}" class="button" style="text-decoration: none !important;">Contact support</a></li>

        <li sec:authorize="hasRole('ADMINISTRATOR')">
            <a th:href="@{/users}" class="button" style="text-decoration: none !important;">All Users</a>
        </li>
        <li sec:authorize="hasRole('ADMINISTRATOR')">
            <a th:href="@{/cases}" class="button" style="text-decoration: none !important;">Cases</a>
        </li>

        <li class="logout-button">
            <form id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline;">
                <button type="submit" class="button logout">Logout</button>
            </form>
        </li>

    </ul>
</aside >

<main id="pockets-content" class="pockets-info">

    <h2>Your Pockets</h2>

    <a th:href="@{'/pockets/new-pocket'}" class="create-wallet-button">Create New Pocket</a>

    <div class="pockets">
        <table class="pockets-table">
            <thead>
            <tr>
                <th>Pocket Name</th>
                <th>Description</th>
                <th>Target Amount</th>
                <th>Balance</th>
                <th>Currency</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pocket : ${user.pockets}">
                <td th:text="${pocket.name}"></td>
                <td th:text="${pocket.goalDescription}"></td>
                <td th:text="${pocket.targetAmount}"></td>
                <td th:text="${pocket.balance}"></td>
                <td th:text="${pocket.currency}"></td>
                <td th:text="${#temporals.format(pocket.createdOn, 'HH:mm dd MMM YYYY')}"></td>
                <td th:text="${#temporals.format(pocket.updatedOn, 'HH:mm dd MMM YYYY')}"></td>
                <td> <a th:href="@{'/pockets/' + ${pocket.id}}" class="button" style="text-decoration: none !important;"> View </a> </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

</body>
</html>