<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/register-form.css">
</head>
<body>
<div class="register-container">
  <h2>Register </h2>
  <form th:action="@{/register}" th:method="post" th:object="${userCreateRequest}">
    <label for="email">Email:</label>
    <input th:field="*{email}" type="email" id="email" name="email" required>
    <div th:if="${#fields.hasErrors('email')}" class="error">
      <p th:text="${emailAlreadyExistException}" th:errors="*{email}" ></p>
    </div>

    <label for="password">Password:</label>
    <input th:field="*{password}" type="password" id="password" name="password" required>
    <div th:if="${#fields.hasErrors('password')}" class="error">
      <p th:errors="*{password}"></p>
    </div>

    <label for="confirmPassword">Confirm Password:</label>
    <input th:field="*{confirmPassword}" type="password" id="confirmPassword" name="confirmPassword" required>
    <div th:if="${#fields.hasErrors('confirmPassword') || #fields.hasErrors('matchingPasswords')}" class="error">
      <p th:errors="*{confirmPassword}"></p>
      <p th:if="${#fields.hasErrors('matchingPasswords')}" th:text="'Passwords do not match.'"></p>
    </div>

    <button type="submit">Register</button>

  </form>
  <div th:if="${emailAlreadyExistException}" class="error">
    <p th:text="${emailAlreadyExistException}"></p>
  </div>
  <div th:if="${notificationException}" class="error">
    <p th:text="${notificationException}"></p>
  </div>
</div>
</body>
</html>
