<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audit Logs</title>
    <link rel="stylesheet" href="/css/transactions.css">
</head>
<body>

<aside class="navigation-panel">
    <ul>
        <li><a th:href="@{/home}" class="button">Dashboard</a></li>
        <li><a th:href="@{/wallets}" class="button">Wallets</a></li>
        <li><a th:href="@{/pockets}" class="button">Pockets</a></li>
        <li><a th:href="@{/wallets/transfer}" class="button">Transfer</a></li>
        <li><a th:href="@{/transactions}" class="button">Transactions</a></li>
        <li><a th:href="@{/audit-logs}" class="button">Audit Logs</a></li>
        <li><a th:href="@{/users/account-settings}" class="button">Account Settings</a></li>

        <li class="logout-button">
            <form id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline;">
                <button type="submit" class="button logout">Logout</button>
            </form>
        </li>

    </ul>
</aside>


<main id="transactions-content" class="transactions-content">
    <h2>Your Transactions</h2>

    <div class="transactions">
        <table class="transactions-table">
            <thead>
            <tr>
                <th>Amount</th>
                <th>Transaction type</th>
                <th>Wallet</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.type}"></td>
                <td th:text="${transaction.wallet.getName()}"></td>
                <td th:text="${#temporals.format(transaction.createdOn, 'HH:mm dd MMM YYYY')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>