<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallets</title>
    <link rel="stylesheet" href="/css/wallet.css">
</head>
<body>

<aside class="navigation-panel">
    <ul>
        <li><a th:href="@{/home}" class="button" style="text-decoration: none !important;" >Dashboard</a></li>
        <li><a th:href="@{/wallets}" class="button" style="text-decoration: none !important;">Wallets</a></li>
        <li><a th:href="@{/pockets}" class="button" style="text-decoration: none !important;">Pockets</a></li>
        <li><a th:href="@{/wallets/transfer}" class="button" style="text-decoration: none !important;">Transfer</a></li>
        <li><a th:href="@{/transactions}" class="button" style="text-decoration: none !important;">Transactions</a></li>
        <li><a th:href="@{/audit-logs}" class="button" style="text-decoration: none !important;">Audit Logs</a></li>
        <li><a th:href="@{/users/account-settings}" class="button" style="text-decoration: none !important;">Account Settings</a></li>

        <li sec:authorize="hasRole('ADMINISTRATOR')">
            <a th:href="@{/users}" class="button" style="text-decoration: none !important;">All Users</a>
        </li>

        <li class="logout-button">
            <form id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline;">
                <button type="submit" class="button logout">Logout</button>
            </form>
        </li>
    </ul>
</aside>

<main id="wallet-content" class="wallet-main">
    <div class="wallet">

        <div class="wallet-content">

            <p>
                <span class="wallet-name" th:text="${wallet.name}"> Wallet Name:</span>
            </p>
            <div class="action-buttons">
                <div>
                    <form th:action="@{'/wallets/' + ${wallet.id} + '/main-state'}" th:method="put">
                        <button type="submit" class="button">Set Main Wallet</button>
                    </form>
                </div>
                <div class="delete-wallet-button">
                    <form th:action="@{'/wallets/' + ${wallet.id}}" th:method="delete">
                        <button type="submit" class="button">Delete Wallet</button>
                    </form>
                </div>

            </div>

            <div class="wallet-creation-date">
                <p>
                    <span class="wallet-creation"> created:</span>
                    <span class="created-on" th:text="${#temporals.format(wallet.createdOn, 'HH:mm dd MMM YYYY')}"> created</span>
                </p>
            </div>

            <div class="wallet-main">
                <p>
                    <span class="main"> main wallet:</span>
                    <span class="currency" th:text="${wallet.isMainWallet() ? 'TRUE' : 'FALSE'}"></span>
                </p>
            </div>

            <div class="balance-info">
                <p>
                    <span class="balance" th:text="${wallet.balance}"> </span>
                    <span class="currency" th:text="${wallet.currency}"> currency:</span>
                </p>
            </div>

            <div class="deposit-form">

                <form th:action="@{/wallets/{id}/deposit(id=${wallet.id})}" th:method="post">
                    <label for="amount"></label>
                    <input type="number" id="amount" name="amount" placeholder="Enter amount" required>
                    <button type="submit" class="button" id="deposit-button">Deposit</button>
                </form>

            </div>


            <div class="withdrawal-form">
                <form id="withdrawal-form" th:action="@{/wallets/{walletId}/withdrawal(walletId=${wallet.id})}"
                      th:method="post">
                    <label for="amount-withdrawal">Amount to Transfer</label>
                    <input type="number" id="amount-withdrawal" name="amount" placeholder="Enter amount" required>

                    <label for="recipientWalletId">Transfer to Wallet</label>
                    <select id="recipientWalletId" name="recipientWalletId" required>
                        <option value="" disabled selected>Select Wallet</option>
                        <option th:each="recipientWallet : ${user.wallets}"
                                th:value="${recipientWallet.id}"
                                th:text="${recipientWallet.name}"
                                th:if="${recipientWallet.id != wallet.id}">Wallet
                        </option>
                    </select>

                    <button type="submit" class="button" id="transfer-button">Transfer Money</button>
                </form>
                <div th:if="${errorMessage}" class="error">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>

        </div>

        <div class="transactions">
            <h3 >Transactions history</h3>
            <table class="wallet-transactions">
                <thead>

                <tr>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th>Transaction type</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${#lists.isEmpty(wallet.transactions)}">
                    <td colspan="3" style="text-align: center;">No transactions</td>
                </tr>

                <tr th:each="transaction : ${wallet.transactions}">
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${transaction.wallet.currency}"></td>
                    <td >
                        <span th:if="${transaction.successful}" style="color: #4CAF50; font-weight: 300;">SUCCESSFUL</span>
                        <span th:if="${!transaction.successful}" style="color: #d00808; font-weight: 300;">FAILED</span>
                    </td>
                    <td th:text="${transaction.type}"></td>
                    <td th:text="${#temporals.format(transaction.createdOn, 'HH:mm dd MMM YYYY')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>
